<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was create by Bogdan Darie. It uses data from mapbox.comp and darksky.net</p>
        <img class="portrait" src="/img/naruto.png" alt="">
    </div>
    {{>footer}}
</body>

</html>